# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.MangaChecker.iml
# Datasource local storage ignored files
/../../../../../../../:\#Programowanie\DiscordBot\MangaChecker\.idea\.idea.MangaChecker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
